@font-face {
    font-family: Hanken Grotesk Black;
    src: url('./fonts/HankenGrotesk-Black.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: Inter;
    src: url('./revampFonts/Inter-Regular-slnt=0.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: Inter Bold;
    src: url('./revampFonts/Inter-ExtraBold-slnt=0.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: Hanken Grotesk Medium;
    src: url('./fonts/HankenGrotesk-Medium.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: Helvetica Neue;
    font-weight: light;
    src: url('./fonts/HelveticaNeueLight.ttf');
    font-display: swap;
  }
  h1, h2, h3, h4, h5, h6 { /*reset for mobile and mac browsers */
    font-weight: normal;
  }
  body{
    -webkit-font-smoothing: antialiased;
    margin: 0;
    background-color: #FFFFFF;
  }

  #nav-bar {
    background-color: #FFFFFF;
    display: block;
    float: left;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    transition: all ease .7s;
    text-align: center;
  }

  #nav-bar.scrolling {
    height: 75px;
    transition: all ease .7s;
    background-image: linear-gradient( rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0.8));
  }

  #nav-bar-trans {
    background-color: #493EC9;
    display: block;
    float: left;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    transition: all ease .7s;
    text-align: center;
  }

  #nav-bar-trans.scrolling {
    height: 75px;
    transition: all ease .7s;
    background-image: linear-gradient( rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0.8));
  }

  .logo {
    display: inline-block;
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all ease .7s;
  }

  #logo-icon {
    float: left;
  }

  #logo-text {
    font-family: Hanken Grotesk Black;
    color: #080530;
    font-size: 24px;
    margin-top: 0;
    padding-top: 4px;
    padding-left: 25px;
    float: left;
  }

  .demo-nav-container {
    display: none;
    float: left;
    padding-top: 48px;
    transition: all ease .7s;
  }

  .demo-img-container {
    display: none;
    float: left;
    padding-top: 48px;
    transition: all ease .7s;
  }

  #nav-bar.scrolling .demo-nav-container {
    padding-top: 20px;
    transition: all ease .7s;
    transform: scale(0.9);
  }

  #nav-bar.scrolling .demo-img-container {
    padding-top: 20px;
    transition: all ease .7s;
    transform: scale(0.9);
  }

  #nav-bar.scrolling .logo {
    padding-top: 20px;
    margin-left: 30px;
    transition: all ease .7s;
    transform: scale(0.9);
  }

  #nav-bar.scrolling nav {
    padding-right: 30px;
    padding-top: 2px;
    transition: all ease .7s;
    transform: scale(0.9);
  }

  @media (max-width: 639px) {
    .logo {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        transition: all ease .7s;
    }
    #logo-text {
        padding-top: 10px;
    }

    #nav-bar.scrolling .logo {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        transition: all ease .7s;
        backface-visibility: hidden;
        -webkit-transform: translateZ(0), scale(0.9);
        transform: translateZ(0), scale(0.9);
      }
  }

  @media (max-width: 500px) {
    #logo-icon {
        width: 55px;
    }
    #logo-text {
        font-size: 20px;
        padding-left: 16px;
    }
  }

  h2 {

    font-family: Hanken Grotesk Black;
    font-size: 14px;
    line-height: 18px;

    color: #080530;
  }

  .nav-trans-text {
    line-height: 60px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #ffffff !important;
  }

  .nav-desktop {
    display: none;
    text-align: right;
    position: relative;
  }

  #new-caption {
    position: absolute;
    top: -20px;
    left: 165px;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient( rgb(183, 235, 235), #00D6D5, rgb(0, 177, 177));
    border-radius: 50%;
    box-shadow:  0px 2px 5px rgba(0, 0, 0, 0.63);
  }

  #new-text {
    font-family: Hanken Grotesk Black;
    font-size: 10px;
    color: #FFFFFF;
    text-shadow: 1px 1px 3px rgb(0, 66, 66);
  }

  .nav-li {
    display: inline-block;
    margin-right: 25px;
  }

  .nav-li h2 {
    line-height: 60px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #25252E;
  }

  #login {
    line-height: 60px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #25252E;
  }

  .active-nav {
    font-weight: 800;
    color: #00D6D5 !important;
    font-family: Inter;
    font-style: normal;
    font-size: 15px;
    line-height: 17px;
  }


  .login {
    display: none;
  }

  #center-nav {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    height: 80px;
  }

  #right-nav {
    float: right;
  }

  @media (min-width: 840px) {
    .login {
        display: inline-block;
        margin-top: 15px;
    }
  }

  .img-container {
    display: inline-block;
  }

  #separator {
    display: none;
  }

  @media (min-width: 1080px) {
    .nav-desktop {
        display: inline-block;
    }
    .login {
        margin-top: 0;
    }
    #separator {
        display: inline-block;
    }

  }
  @media (min-width: 1200px) {
    h2 {
        font-size: 16px;
        line-height: 19px;
    }
    .nav-li {
        margin-right: 35px;
    }
  }

  .nav-ul {
    display: inline-block;
    text-align: center;
  }

  .nav-moveable {
    display: inline;
    text-align: right;
  }

  #separator {
    padding-right: 35px;
    vertical-align: -50%;
  }

  #separator-demo {
    padding-right: 20px;
    padding-left: 40px;
    vertical-align: -50%;
  }

  #login-icon {
    padding-right: 20px;
    vertical-align: -10%;
  }

  .login-text-container {
    display: inline-block;
  }

  button {
    background: #F86410;
    border-radius: 5px;
    border: none;
    padding: 0;
    margin: 0;
    font-family: Hanken Grotesk Black;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;

    transition: all .35s ease-in-out;
  }

  button:hover, button:focus {
    transform: translate(0, -1.8px);
    background-color: rgb(255, 132, 60);
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: inherit;
    transition: all .2s ease-in-out;
  }

  #h2-demo, li, .login, .nav-li, .partners, .top {
    transition: all .2s ease-in-out;
  }

  #h2-demo:hover, li:hover, .login:hover, .nav-li:hover, .partners:hover, .top:hover  {
    transform: translate(0, -2px);
    cursor: pointer;
  }

  a:focus #h2-demo, a:focus li, a:focus .login, a:focus .nav-li, a:focus .partners, a:focus .top {
    transform: translate(0, -2px) scale(1.01);
  }

  .logo:hover {
    transform: translate(0, -4px) scale(1.01);
    cursor: pointer;
  }

  a:focus .logo {
    transform: translate(0, -4px) scale(1.01);
  }

  .nav-demo-btn {
    display: none;
    padding: 10px 20px 10px 20px;
    position: relative;
    background-color: transparent;
    border: 1px solid #BAB9C5;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    /* identical to box height, or 113% */

    letter-spacing: -0.01em;

    /* Theme / violet */

    color: #493EC9;
    margin-left: 20px;
    margin-right: 20px;
  }

  .nav-demo-btn-trans {
    display: none;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    margin-left: auto;
    position: relative;
    color: white;
    background-color: transparent;
  }

  @media (min-width: 1080px) {
    .nav-demo-btn {
        display: inline;
    }
    .nav-demo-btn-trans {
        display: inline;
    }
  }

  @media (min-width: 1080px) {
    .demo-nav-container, .demo-img-container {
        display: block;
        float: left
    }
    .logo {
        float: left;
    }
  }
  /* END OF HEADER */

  main {
    margin-top: 100px;
  }


  h5 {
    margin-top: 0;
    margin-bottom: 30px;
    color: #00D6D5;
    font-family: Hanken Grotesk Black;
    font-size: 16px;
    line-height: 13px;
    letter-spacing: 0.35em;
  }

  h6 {
    color: #080530;
    margin-top: 20px;
    font-family: Hanken Grotesk Black;
    font-size: 25px;
    line-height: 139%;
    margin-bottom: 40px;
  }

  .tablet-box {
    position: relative;
    margin-top: 40px;
  }

  #gif-tablet {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  #tablet-screen-container {
    position: absolute;
    background-color: #000000;
    top: 5%;
    bottom: 5%;
    left: 6%;
    right: 6%;
    border-radius: 8px;
    border: solid rgb(22, 22, 22) 2px;
    overflow: hidden;
    z-index: -1;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.7);
  }

  #tablet-screen, .slider {
    width: 100%;
  }

  .center-header {
    text-align: center;
  }

  .slider-header {
    text-align: center;
    font-family: Hanken Grotesk Black;
    color: #080530;
    font-size: 16px;
  }

  .p-copy {
    font-family: Hanken Grotesk Medium;
    color: #080530;
    font-size: 14px;
    line-height: 190%;
  }

  #form-copy {
    text-align: center;
    color: #493EC9;
  }

  #top-copy {
    margin-top: 50px;
  }

  #form-content {
    text-align: center;
    color: #493EC9;
  }

  .feature-box {
    margin-left: 5%;
    margin-right: 5%;
  }

  .tag-row, .shop-row {
    margin-top: 100px;
    max-width: 1350px;
  }

  .shop-row {
    margin-top: 100px;
    margin-bottom: 200px;
  }

  .form-container {
    margin-bottom: 100px;
  }

  #primary-btn {
    margin-top: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 80px;
    background-color: #4a3ec9;
  }

  .caption-box {
    width: 100%;
    margin-top: 20px;
    display: block;
    padding-top: 0;
  }

  .caption {
    font-family: Helvetica Neue;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #080530;
  }

  #tag-img-box, #analytics-img-box {
    padding-left: 5%;
    padding-right: 5%;
  }

  #animated-img1, #animated-img2 {
    margin-top: 50px;
    margin-bottom: -50px;
    width: 100%;
    height: 100%;
    transition: all ease 2s;
    opacity: 0.2;

  }

  #animated-img1.see-me, #animated-img2.see-me {
    transform: translate(0, -50px);
    transition: all ease 2.5s;
    opacity: 1;
  }


  .left-col-6 {
    padding-right: 5%;
    padding-left: 5%;
  }

  #white-h6 {
    color: #FFFFFF;
    margin-top: 100px;
  }

  #white-p {
    color: #FFFFFF;
  }

  .green-row {
    text-align: center;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0;
  }

  .window-box {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 100%;
  }

  .last-row {
    margin-top: 80px;
    margin-bottom: -100px;
    padding-left: 5%;
  }

  @media (min-width: 500px) {
    h6 {
        font-size: 35px;
    }
  }

  @media (min-width: 640px) {
    h6 {
        font-size: 25px;
    }
    .p-copy {
        font-size: 18px;
    }
    .feature-box {
        margin-top: 80px;
        padding-right: 8%;
    }
    #primary-btn {
        width: 80%;
        height: 80px;
        margin-left: 0;
    }
    .form-container {
        margin-bottom: 400px;
    }
    .tag-box {
        margin-top: 80px;
        margin-right: 20px;
    }
    .caption-box {
        width: 80%;
    }
    .tablet-box {
        margin-top: -50px;
    }
    #tag-img-box {
        padding-left: 1%;
        padding-right: 5%;
    }
    #analytics-img-box {
        padding-right: 1%;
        padding-left: 5%;
    }
    .left-col-6 {
        padding-right: 2%;
        padding-left: 8%;
        margin-top: 100px;
    }
    .green-row {
        margin-top: 40px;
    }
    .last-row {
        margin-top: 300px;
    }
  }

  @media (min-width: 800px) {
    h6 {
        font-size: 30px;
    }
    .tag-box {
        margin-right: 50px;
    }
    .feature-box {
        margin-top: 150px;
    }
    .form-container {
        margin-bottom: 500px;
    }
  }

  @media (min-width: 1100px) {
    h6 {
        font-size: 46px;
    }
    .tag-box {
        margin-right: 100px;
    }
  }

  .insta-img {
    width: 100%;
    height: 100%;
  }

  .social-tablet {
    width: 100%;
    height: 100%;
  }

  .card {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 25px 55px rgba(0, 0, 0, 0.315);
    border-radius: 32px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
    margin-top: 50px;
  }

  .top {
    font-family: Hanken Grotesk Black;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    color: #00D6D5;
    margin-top: 27px;
    cursor: pointer;
  }

  .hs-form-iframe {
    width: 100%;
    text-align: center;
  }


  /* FOOTER */

  h4 {
    font-family: Hanken Grotesk Black;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.35em;

  }

  .final-head {
    margin-bottom: 70px;
  }

  #final-header {

    font-family: Hanken Grotesk Black;
    font-size: 81px;
    line-height: 119%;
    text-align: center;
    color: #FFFFFF;
  }

  @media (min-width: 900px) {
    #final-header {
        font-size: 50px;
    }
  }

  @media (min-width: 1066px) {
    #final-header {
        font-size: 81px;
    }
    #grow-row {
        margin-bottom: 150px;
    }
  }


  .about-box {
    padding-right: 10px;
  }

  #final-demo-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 80px;
    background: #4a3ec9;
  }

  @media (min-width: 640px) {
    #final-demo-btn {
        width: 283px;
        height: 80px;
        margin-right: 12%;
        margin-left: auto;
    }
  }

  #final-demo-btn-blue {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 80px;
    background: #00D6D5;
  }

  @media (min-width: 640px) {
    #final-demo-btn-blue {
        width: 283px;
        height: 80px;
        margin-right: 12%;
        margin-left: auto;
    }
  }

  .p-info {
    font-family: Helvetica Neue;
    font-size: 16px;
    line-height: 212%;
    color: #FFFFFF;
  }

  .h4-white {
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
  }

  .foot-nav-ul {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .foot-nav-li {
    font-family: Hanken Grotesk Black;
    font-size: 16px;
    line-height: 275%;
    color: #FFFFFF;

    display: list-item;
    text-align: center;
    list-style: none;
  }

  .foot-nav-icons {
    width: 7%;
  }

  .partner-row {
    margin-top: 50px;
  }

  .partners {
    display: block;
    width: 50%;
    height: 50%;
    margin-top: 50px;

    margin-left: auto;
    margin-right: auto;
  }


  footer {
    margin-top: 100px;
    margin-bottom: 190px;
  }

  .footer-li {
    display: none;
  }

  @media (min-width: 640px) {
    .final-head {
        margin-bottom: 200px;
    }
    .h4-white {
        text-align: left;
        margin-top: 0;
    }
    .partners {
        margin-top: 0;
        vertical-align: middle;
    }

    .partner-row {
        margin-top: 80px;
    }
    #partner1 {
        margin-left: 40%
    }

    #partner2 {
        margin-left: auto;
        margin-right: auto;
    }

    #partner3 {
        margin-left: auto;
        margin-right: 40%;
    }
    .about-box {
        padding-right: 100px;
    }
    #footer-ul {
        padding-left: 14%;
    }
    .footer-li {
        display: inline-block;
        padding-right: 30px;
    }
    .foot-nav-li {
        text-align: left;
    }
    .foot-nav-hide {
        display: none;
    }
    .foot-nav-icons {
        vertical-align: -3px;
        width: initial;
    }
  }

  @media (max-width: 900px) {
    #final-header {
        font-size: 40px;
    }

  }

  @media (max-width: 500px) {
    #final-header {
        font-size: 30px;
    }
    .p-info {
        font-size: 12px;
    }
  }

  @media (min-width: 1500px) {
    .shop-row {
        margin-bottom: 500px;
    }
  }

  .header-text {
    font-family: Inter Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.022em;
    color: #000000;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .subheader-text {
    font-family: Inter Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.022em;
    color: #000000;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .subheader-text-padded {
    font-family: Inter Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.022em;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .title-text {
    font-family: Inter Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: left;
    letter-spacing: -0.022em;
    color: #000000;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .hidden-text {
    height: 0px;
    width: 0px;
    opacity: 0;
  }

  .question-div {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .question-indicator {
    font-weight: 100;
    font-size: 28px;
    margin-right: 5px;
  }

  .question-answer-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 32px;
    text-align: center;
    color: #72717B;
    transition: 0.3s;
    width: 400px;
  }

  .question-text {
    cursor: pointer;
    font-family: Inter Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 28px;
    text-align: left;
    letter-spacing: -0.022em;
    color: #000000;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 400px;
  }

  .paragraph-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 32px;
    text-align: center;
    color: #72717B;
  }

  .paragraph-text-blue {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    color: #00D6D5;
  }

  .paragraph-text-left {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 32px;
    text-align: left;
    color: #72717B;
  }

  .body-demo-btn {
    background-color: #493EC9;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
  }

  .body-demo-btn-text {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
  }



  .sideways-scroll {
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    margin: 20px;
    position: relative;
    text-align: center;
  }

  .sideways-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .sideways-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .sideways-scroll::-webkit-scrollbar-thumb {
    background: #493EC9;
    width: 10px;
    height: 10px;

  }

  .sideways-scroll-snap {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    margin: 20px;
    scroll-snap-points-x: repeat(33%);
    scroll-snap-type: x mandatory;
  }

  .sideways-scroll-snap::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .sideways-scroll-snap::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .sideways-scroll-snap::-webkit-scrollbar-thumb {
    background: #493EC9;
    width: 10px;
    height: 10px;
  }

  .blank-box {
    height: 400px;
    width: 360px;
    background-color: #EDEDED;
    margin: 40px;
    display: inline-block;
  }

  .blank-box-2 {
    margin: 40px;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  #whisker-left {
    position: absolute;
    left: -20px;
    top: 100px;
  }

  #whisker-right {
    position: absolute;
    right: -20px;
    top: 100px;
  }

  #arrow1 {
    position: absolute;
    left: 10px;
    bottom: -60px;
  }

  #arrow0 {
    position: absolute;
    left: -130px;
    bottom: 50px;
  }

  .cta-half {
    margin: 40px;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 50px;
    vertical-align: top;
  }

  .example-row-1 {
    width: 100%;
    height: auto;
    text-align: center;
    vertical-align: top;
  }

  .scalable-img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
  }

  .example-row-2 {
    width: 100%;
    height: auto;
    text-align: center;
    vertical-align: top;
    position: relative;
  }

  .example-row-blue {
    background-color: rgba(0,214,213,0.05);
    width: 100%;
    text-align: center;
    vertical-align: top;
  }

  .grey-bg {
    padding-top: 50px;
    text-align: center;
    vertical-align: top;
    background-color: rgba(186,185,197,0.05);
  }


  .example-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .form-label {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    margin-left: 5px;
  }

  .email-input {
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 16px 24px;
    color: #000000;
    width: 300px;
    font-size: 14px;
  }

  .email-submit {
    border: 1px solid #000000;
    padding: 16px 24px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 14px;
  }

  form {
    text-align: left;
  }

  .black-bottom {
    margin-top: 150px;
    width: 100%;
    background-color: #493EC9;
    height: 450px;
    position: relative;
  }

  .form-label {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 5px;
  }

  .email-input-white {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 16px 24px;
    color: #000000;
    width: 300px;
    font-size: 14px;
  }

  .email-input-title {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 16px 24px;
    color: #000000;
    width: 300px;
    font-size: 14px;
  }

  .email-submit-white {
    border: 1px solid #00D6D5;
    border-radius: 4px;
    padding: 16px 24px;
    background-color: #00D6D5;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 14px;
    width: 150px;
  }

  .paragraph-text-left-white {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
  }

  .title-text-white {
    font-family: Inter Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    text-align: left;
    letter-spacing: -0.022em;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 0px;
  }


  .title-text-white-contact {
    font-family: Inter Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 38px;
    text-align: left;
    letter-spacing: -0.022em;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .title-text-white-small {
    font-family: Inter Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: left;
    letter-spacing: -0.022em;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .bottom-cta {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);
  }

  .bottom-cta-contact {
    position: absolute;
    top: 50%;
    left: 10vw;
    transform: translate(0%, -50%);
  }

  .cta-surround {
    width: 465px;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 4px;
  }

  .bottom-square-1 {
    position: absolute;
    top: -25%;
    left: 30%;
  }

  #footer-image-1 {
    position: absolute;
    top: -25%;
    left: 30%;
  }

  #footer-image-2 {
    position: absolute;
    top: -20%;
    right: 0%;
    width: 40vw;
  }

  .bottom-square-2 {
    position: absolute;
    top: -20%;
    right: 40%;
    width: 75px;
    height: 75px;
  }

  .bottom-square-3 {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(50%, -50%);
    width: 75px;
    height: 75px;
    background-color: #C4C4C4;
  }

  .bottom-square-4 {
    position: absolute;
    bottom: 0px;
    right: 10%;
    transform: translate(-50%, 25%);
    width: 160px;
    height: 160px;
    background-color: #C4C4C4;
  }

  #demo-button {
    text-align: left;
  }

  .demo-button-center {
    text-align: center;
  }

  #demo-button-feature {
    text-align: center;
  }

  #demo-button-feature-explore {
    margin-top: 50px;
    text-align: center;
  }

  #main-title {
    position: relative;
  }

  #underlined-text-span {
    position: relative;
  }

  #free-underline {
    position: absolute;
    left: 0px;
    bottom: -10px;
  }

  #title-underline {
    position: absolute;
    right: 20%;
    bottom: -10px;
  }

  .for-real-bound {
    position: relative;
  }

  .for-real {
    position: absolute;
    right: -100px;
    top: 5px;
  }

  .quote-box {
    height: 300px;
    width: 33%;
    margin: 40px;
    display: inline-block;
    vertical-align: top;
    opacity: 0.5;
    transition: 0.3s;
    scroll-snap-align: center;
  }

  .quote-box-empty {
    height: 300px;
    width: 22.5%;
    margin: 40px;
    display: inline-block;
    vertical-align: top;
    opacity: 0.5;
    transition: 0.3s;
    scroll-snap-align: center;
  }

  .quote-box-large {
    height: 300px;
    width: 33%;
    margin: 40px;
    display: inline-block;
    vertical-align: top;
    transition: 0.3s;
    scroll-snap-align: center;
    opacity: 1;
    transform: translate(0%, -5%);
  }

  .quote-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
    white-space: normal;
    text-align: center;
    letter-spacing: -0.022em;
    color: #25252E;
    margin: 0px !important;
  }

  .quote-name {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.022em;
    color: #25252E;
  }

  .quote-company {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.022em;
    color: #493EC9;
  }

  .quote-footer-block {
    display: inline-block;
  }

  .footer-icon-2 {
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 25px;
    margin-left: -60px;
    margin-right: 10px;
  }

  .email-link {
    font-weight: 800;
    color: #493EC9;
    text-decoration: underline;
  }

  .table-div {
    display: inline-block;
    padding-top: 80px;
    padding-bottom: 40px;
    position: relative;
    margin-left: 200px;
    border-radius: 2px;
  }

  .table-div-blue {
    display: inline-block;
    background-color: rgba(73,62,201,0.03);
    padding-top: 80px;
    padding-bottom: 40px;
    position: relative;
    border-radius: 2px;
  }

  .table-div-green {
    display: inline-block;
    background-color: rgba(0,214,213,0.03);
    padding-top: 80px;
    padding-bottom: 40px;
    position: relative;
    border-radius: 2px;
  }

  .table-company {
    position: absolute;
    top: 35px;
    left: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #493EC9;
  }

  .table-data {
    font-family: Inter;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 56px;
    letter-spacing: -0.018em;
    color: #25252E;
    width: 100%;
    border-bottom: 2px solid #BAB9C5;
    text-align: left;
  }

  .table-data-big {
    font-family: Inter;
    padding: 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.018em;
    color: #25252E;
    width: 100%;
    text-align: left;
    opacity: 0;
  }

  .table-data-third {
    font-family: Inter;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 56px;
    letter-spacing: -0.018em;
    color: #72717B;
    width: 33%;
    border-bottom: 2px solid #BAB9C5;
    text-align: center;
  }

  .table-data-third-big {
    font-family: Inter;
    padding: 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.018em;
    color: #25252E;
    width: 33%;
    text-align: center;
  }

  .table-data-fifth {
    font-family: Inter;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 56px;
    letter-spacing: -0.018em;
    color: #72717B;
    width: 20%;
    border-bottom: 2px solid #BAB9C5;
    text-align: center;
  }

  .table-data-fifth-big {
    font-family: Inter;
    padding: 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.018em;
    color: #25252E;
    width: 20%;
    text-align: center;
  }
  #myLinks {
    display: none;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
  }

  #myLinks a h2{
    width: 100%;
    margin-left: 5%;
    padding: 10px 0px;
    display: block;
    font-family: Inter Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.022em;
    color: #FFFFFF;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  #myLinks button{
    text-align: center;
    background-color: #493EC9;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    display: block;

  }

  #myLinks button h2{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;;
    margin: 15px 0px;
  }

  .body-demo-btn {
    background-color: #493EC9;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
  }

  .body-demo-btn-text {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
  }



  #myLinks img{
    margin-left: 5%;
    height: 50px;
    width: 50px;
    object-fit: contain;

  }

  .hamburger-nav {
    display: none;
    cursor: pointer;
  }

  #hamburger-contain {
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s;
  }

  #hamburger {
    position: absolute;
    right: 50px;
    top: 50px;
    transform: translate(50%, -50%);
    display: block;
  }

  .min-blue {
    height: 110px;
    width: 105px;
    object-fit: contain;
  }

  .max-blue {
    height: 330vh;
    width: 315vw;
    object-fit: contain;
    transform: translate(30%, -40%);
  }

  #x-button {
    position: absolute;
    right: 50px;
    top: 50px;
    transform: translate(50%, -50%);
    display: none;
  }

  .feature-row {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .feature-box {
    display: inline-block;
    text-align: left;
    width: 300px;
    padding: 0px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: top;

  }

  .feature-title {
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.018em;
    color: #25252E;
  }

  .feature-text {
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #72717B;
  }

  .example-row-3 {
    margin-bottom: 100px;
  }

  .footer {
    min-height: 75px;
    width: 100%;
  }

  .footer-seg {
    width: 33%;
    text-align: center;
    padding: 10px;
    justify-content: center;
    vertical-align: top;
    display: inline-flex;
  }

  .footer-seg a{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: #25252E;
    margin: 0px 20px;
    padding: 20px 0;
    align-items: center;
  }

  .footer-seg img {
    margin: 0px 20px;
    align-items: center;
    object-fit: contain;
  }

  .footer-icon {
    margin: 20px 20px;
    padding: 20px 0;
    align-items: center;
    object-fit: contain;
    cursor: pointer;
  }

  #content-image-tablet {
    width: 700px;
    height: auto;
  }

  #contact-image-1 {
    height: 100vh;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
  }

  .contact-bottom {
    width: 100%;
    background-color: #493EC9;
    height: 100vh;
    position: relative;
  }

  .contact-icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    height: 64px;
    width: 64px;
    cursor: pointer;
  }

  .contact-icon-small {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    cursor: pointer;
  }

  .contact-supergroup {
    margin-top: 50px;
    text-align: left;
  }

  .contact-group {
    margin-top: 20px;
  }

  .contact-group2 {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .contact-subgroup {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 10px;
  }

  .contact-a {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -0.022em;
    color: #00D6D5;
  }

  .contact-small-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFF;
  }

  .contact-surround {
    background-color: #493EC9;
  }

  #content-image-1 {
    cursor: pointer;
  }

  #footer-experts {
    margin-top: 15px;
    width: 30vw;
    height: auto;
  }

  .slide-up-bound{
    position: relative;
  }

  .slide-up {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 0%;
    left: 0;
    top: 0;
    transition: height 0.5s;
  }

  .hidden-h {
    height: 100%;
  }

  .hidden-h-2 {
    height: 150%;
  }

  .slide-right-bound{
    position: relative;
  }

  .slide-right {
    position: absolute;
    background-color: white;
    width: 0%;
    height: 100%;
    right: 0;
    top: 0;
    transition: width 1s;
  }

  .hidden-w {
    width: 100%
  }

  @media (max-width: 1080px) {
    #nav-bar {
        height: 110px;
    }
    .hamburger-nav {
        display: block;
    }
    .max-blue {
        height: 330vh;
        width: 315vw;
        object-fit: contain;
        transform: translate(30%, -40%);
    }
    main {
        margin-top: 150px;
    }
    #nav-bar {
        text-align: left;
    }
    #nav-bar-trans {
        text-align: left;
    }
    .contact-bottom {
        margin-top: 150px;
    }
  }

  @media (max-width: 800px) {
    .bottom-square-1 {
        display: none;
    }
    .bottom-square-2 {
        display: none;
    }
    .bottom-square-3 {
        display: none;
    }
    .bottom-square-4 {
        display: none;
    }
    #footer-image-1 {
        position: absolute;
        top: -20%;
        left: 5%;
        width: 155px;
        height: 150px;
    }
    #footer-image-2 {
        position: absolute;
        top: -20%;
        right: 0%;
        width: 80%;
        height: auto;
    }
    .bottom-cta {
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 80px;
        width: 80%;
    }
    #title-underline {
        right: 0%;
    }
    .blank-box-2 {
        width: 80%;
    }
    #content-image-1 {
        width: 100%;
        height: auto;
        cursor: pointer;
    }
    #content-image-2 {
        width: 100%;
        height: auto;
    }
    #content-image-3 {
        width: 100%;
        height: auto;
    }
    .cta-surround {
        width: 100%;
        text-align: center;
        background-color: transparent;
    }
    #logo-icon {
        height: 50px;
        width: auto;
        text-align: left;
    }
    .logo {
        padding: 10px;
        text-align: left;
    }
    .max-blue {
        height: 220vh;
        width: 210vw;
        object-fit: contain;
        transform: translate(30%, -40%);
    }
    #nav-bar {
        height: 110px;
    }
    #nav-bar-trans {
        height: 110px;
    }
    .for-real {
        display: none;
    }
    .body-demo-btn {
        width: 90%;
    }
    .email-submit-white {
        width: 100%;
        margin-top: 10px;
    }
    .email-input-white {
        width: 100%;
    }
    .black-bottom {
        margin-top: 0px;
        height: 850px;
    }
    .grey-bg {
        margin-top: 50px;
        margin-bottom: 0px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .sideways-scroll {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 200px;
    }
    .sideways-scroll-snap {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 200px;
        scroll-snap-points-x: repeat(100%);
    }
    .quote-box-empty {
        display: none;
    }
    .quote-box {
        opacity: 1;
        transition: 0s;
        width: 100%
    }
    .quote-box-large {
        opacity: 1;
        transition: 0s;
        width: 100%
    }

    .question-text {
        text-align: left;
        width: 100%;
    }
    .question-answer-text {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .table-div {
        margin-left: 0px;
    }
    .subheader-text-padded {
        text-align: left;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .hamburger-nav {
        display: block;
    }
    main {
        margin-top: 125px;
    }
    .example-row-2 {
        padding: 10px;
    }
    .example-row-3 {
        margin-bottom: 200px;
    }
    .feature-box {
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-seg {
        width: 100%;
    }
    #contact-image-1 {
        text-align: right;
        position: relative;
        display: inline-block;
        width: 100%;
        height: auto;
    }
    .bottom-cta-contact {
        width: 100%;
        position: relative;
        display: inline-block;
        left: 0;
        top: 0;
        padding: 0px 20px;
        transform: translate(0%, 0%);
    }
    .contact-image-wrapper {
        width: 100%;
        position: relative;
        display: inline-block;
        padding: 5px;
        transform: translate(0%, 0%);
    }
    .contact-bottom {
        height: 100%;
        position: relative;
        text-align: left;
        margin-top: 110px;
    }
    #arrow0 {
        display: none;
    }
    #arrow1 {
        display: none;
    }
    #content-image-tablet {
        width: 100%;
        height: auto;
    }
    #footer-experts {
        width: 95%;
        height: auto;
    }
    #demo-button {
        text-align: center;
    }
    .title-text-white-small {
        text-align: center !important;
    }
  }

  @media (min-width: 1080px) {
    #myLinks {
        display: none !important;
    }
  }

  @media (max-width: 550px) {
    .black-bottom {
        margin-top: 0px;
        height: 750px;
    }
  }

  @media (max-width: 400px) {
    .header-text {
        font-size: 38px;
    }
    .black-bottom {
        margin-top: 0px;
        height: 650px;
    }
  }

  @media (min-width: 1800px) {
    #footer-image-2 {
        width: 30vw;
    }
    .quote-box-empty {
        width: 33%;
    }
  }

  @media (min-width: 2400px) {
    #footer-image-2 {
        width: 20vw;
    }
    .quote-box-empty {
        width: 33%;
    }
  }


  /*r sweet alert */
  .swal-text {
    font-family: Inter Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 28px;
    text-align: left;
    letter-spacing: -0.022em;
    color: #000000;
    text-align: center;
  }

  .footer-grid.service-policy li {
    padding-top: 10px;
}

  .footer-grid.service-policy a {
    border: 15px solid transparent;
    margin-top: 15px;
    margin-bottom: 15px;
  }